<div class="wrapper">
  <section>
    <div class="recipe">
      <div class="recipe-content">
        {{ content }}
      </div>

      {% if page.tags %}
        <div class="recipe-tags">
          <h3>Categories:</h3>
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/recipe-index/?tags={{ tag }}" class="tag-button">
              {{ tag | replace:'era:','' | replace:'source:','' | replace:'_',' ' | capitalize }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
</div> 